<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
   <connectionStrings>
    <add name="DB_main" connectionString="Data Source=140.138.155.176;Database =OnlineJudgeCpp ;Persist Security Info=True;User ID=sa;Password=ltlab1612b" providerName="System.Data.SqlClient"/>
    <add name="DB_nb" connectionString="Data Source=140.138.155.183;Database =NianBaoSystem ; Persist Security Info=True;User ID=Radar;Password=Radar" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization culture="zh-TW" uiCulture="zh-TW" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="BIG5"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>